<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img class="brand-img" src="../assets/img/logo-png.png" alt="" width="50" height="50">
      PhatLoot</a>
    <div>

      <ul class="nav">

        <li
        class="nav-item"
        id="product-form-link">
          <a
          routerLink="/product"
          class="btn nav-link active"
          name="add-product-button"
          id="add-product-button"
          (click)="addProduct()"
          >
          Add Product</a>
        </li>

       <li class="nav-item">
        <button
        class="btn nav-link active"
        name="logout-button"
        id="logout-button"
        (click)="logout()">
        Logout</button>
      </li>

      <li class="nav-item">
        <a
        routerLink="/login"
        class="btn nav-link active"
        name="login-button"
        id="login-button"
        (click)="login()"
        >
        Login</a>
      </li>

      <li class="nav-item">
        <a
        routerLink="/signup"
        class="btn nav-link active"
        name="signup-button"
        id="signup-button"
        (click)="signUp()"
        >
        Sign Up</a>
      </li>

      </ul>
    </div>
  </div>
</nav>
