<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">PhatLoot</a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
    class="collapse navbar-collapse"
    id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="home-link">
          <a
          routerLink="/home"
          class="nav-link active"
          id="home-link"
          aria-current="page">
          Home</a>
        </li>
        <!-- <li class="nav-item" id="favorites-link">
          <a
          class="nav-link active">
          Favorites</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
            Sort By
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Battle Maps</a></li>
            <li><a class="dropdown-item">Character Minis</a></li>
            <li><a class="dropdown-item">Dice Bags and Towers</a></li>
            <li><a class="dropdown-item">Dice Sets</a></li>
            <li><a class="dropdown-item">Other</a></li>
          </ul>
        </li> -->
        @if (authService.isLoggedIn()){
        <li
        class="nav-item"
        id="product-form-link">
          <a
          routerLink="/product-form"
          class="btn btn-info"
          name="add-product-button"
          id="add-product-button"
          >
          Add Product</a>
        </li>
        }
      @if (authService.isLoggedIn()){
       <li class="nav-item">
        <button
        class="btn btn-info"
        name="logout-button"
        id="logout-button"
        (click)="logout()">
        Logout</button>
      </li>
    }
      <li class="nav-item">
        <a
        routerLink="/login"
        (click)="login()"
        data-bs-toggle="modal"
        data-bs-target="LoginModal"
        class="btn btn-info"
        name="login-button"
        id="login-button">
        Login</a>
      </li>

      <li class="nav-item">
        <a
        data-bs-toggle="modal"
        data-bs-target="SignupModal"
        class="btn btn-info"
        name="signup-button"
        id="signup-button">
        Sign Up</a>
      </li>

      </ul>
    </div>
  </div>
</nav>
