.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  background-color: #8a1c7c;
  color: #eaeaea;
  margin-bottom: 5px;
  padding: 5px;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: #eaeaea;
}

#home-link {
  font-size: 1rem;
  color: #eaeaea;
}

#add-product-button {
  margin-left: 5px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #0b5351;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login-button {
  margin-left: 5px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #0b5351;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signup-button {
  margin-left: 5px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #0b5351;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logout-button {
  margin-left: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #0b5351;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
}
