.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  /* font-style: normal; */
  background-color: #185677;
  color: #f1faee;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: #f1faee;
}

#home-link {
  color: #f1faee;
}

#login-button {
  margin-left: 5px;
  border: 1px solid #f1faee;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #af5931;
  color: #f1faee;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signup-button {
  margin-left: 5px;
  border: 1px solid #f1faee;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #af5931;
  color: #f1faee;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logout-button {
  margin-left: 5px;
  border: 1px solid #f1faee;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: #af5931;
  color: #f1faee;
  cursor: pointer;
  transition: background-color 0.3s;
}
