<h1>Choose Your Loot</h1>

<div class="product-form">
  <input
  type="text"
  [(ngModel)]="newProduct"
  placeholder="Add a new product">
  <button (click)="addProduct()">Add Product</button>
</div>

<!-- Product List -->
<div class="card" style="width: 18rem;">
  <img
  src="../assets/img/TTRPG.jpg" class="card-img-top"
  alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.price }}</h6>
    <p class="card-text">{{ product.description }}</p>
  </div>
</div>

<ul>
  <li
    @for (product of products; track product.id) {
      {{ product.name }}
    } @empty {
      Empty list of products
    }>
    <input type="checkbox" (change)="updateProduct(product)">
    <span>{{ product }}</span>
    <button (click)="deleteProduct(product.id)">Delete</button>
  </li>
</ul>
