<h1>My Wish List</h1>


<!-- Product List -->
<div class="card">
  @for (product of products; track product.id) {
    {{ product.name }}
  } @empty {
    Empty list of products
  }
  <img
  src="../assets/img/TTRPG.jpg" class="card-img-top"
  alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.price }}</h6>
    <p class="card-text">{{ product.description }}</p>
    <button
    class="btn"
    (click)="updateProduct">Update</button>
    <button
    class="btn"
    (click)="deleteProduct">Delete</button>
  </div>
</div>
