h1 {
  color: #af5931;
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #202030;
}

span {
  margin-left: 10px;
}

input[type="checkbox"] {
  margin: 0 10px;
}

button {
  padding: 0.5rem 1rem;
  margin-left: 10px;
  border: 1px solid #f1faee;
  border-radius: 5px;
  cursor: pointer;
}

button:first-of-type {
  background-color: #5a8632;
  color: #f1faee;
}

button:not(:first-of-type) {
  background-color: #af5931;
  color: #f1faee;
}

button:hover {
  opacity: 0.8;
}

.product-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f1faee;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
