<div class="signup-container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
      type="text"
      id="firstName"
      formControlName="first_name"
      >
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
      type="text"
      id="lastName"
      formControlName="last_name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
      type="email"
      id="email"
      formControlName="email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
      type="text"
      id="username"
      formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
      type="password"
      id="password"
      formControlName="password">
    </div>
    <div class="form-group">
      <label for="password_confirmation">Confirm Password</label>
      <input
      type="password"
      id="password_confirmation"
      formControlName="password_confirmation">
    </div>

    <button
    type="submit"
    class="btn"
    [disabled]="!signUpForm.valid">Sign Up</button>
  </form>
</div>
