
<div class="product-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div class="form-group">
    <label
    for="productName"
    >Product Name:</label>
    <input
    type="text"
    id="productName"
    formControlName="name">
    <label
    for="productCategory"
    class="form-label"
    >Product Category:</label>
    <input
    type="text"
    id="productCategory"
    formControlName="category">
    <!-- <label
    for="productPrice"
    class="form-label"
    >Product Price:</label>
    <input
    type="decimal"
    class="form-control"
    name="productPrice"
    formControlName="price"
    placeholder="Enter Price"> -->
    <label
    for="productDescription"
    class="form-label"
    >Product Description:</label>
    <textarea
    type="text-area"
    id="productDescription"
    rows="2"
    formControlName="description"
    placeholder="Describe your product here."
    ></textarea>
    <!-- <label
    for="productImageUrl"
    class="form-label"
    >Product Image</label>
    <input
    type="text"
    class="form-control"
    name="productImageUrl"
    formControlName="imageUrl"
    placeholder="Enter Image URL"> -->
    <button class="btn" type="submit">Add Product</button>
  </div>
  </form>
</div>

