<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <div class="product-form mb-3">

    <label
    for="productName"
    class="form-label"
    >Product Name:</label>
    <input
    type="text"
    class="form-control"
    name="productName"
    formControlName="name"
    placeholder="Product Name">
    <label
    for="productCategory" class="form-label"
    >Product Category:</label>
    <input
    type="text"
    class="form-control"
    name="productCategory"
    formControlName="category"
    placeholder="Product Category">
    <!-- <label
    for="productPrice"
    class="form-label"
    >Product Price:</label>
    <input
    type="decimal"
    class="form-control"
    name="productPrice"
    formControlName="price"
    placeholder="Enter Price"> -->
    <label
    for="productDescription"
    class="form-label"
    >Product Description:</label>
    <textarea
    type="text-area"
    class="form-control"
    name="productDescription"
    rows="2"
    formControlName="description"
    placeholder="Describe your product here."
    ></textarea>
    <!-- <label
    for="productImageUrl"
    class="form-label"
    >Product Image</label>
    <input
    type="text"
    class="form-control"
    name="productImageUrl"
    formControlName="imageUrl"
    placeholder="Enter Image URL"> -->
    <button type="submit">Add Product</button>

  </div>
  </form>
