.container {
  display: flex;
  flex-direction: column;
  color: #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0f6d6a;
  border-radius: 8px;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

#signup {
  font-weight: bolder;
  color: #91c499;
  cursor: pointer;
}

#login {
  font-weight: bolder;
  color: #8a1c7c;
  cursor: pointer;
}

#signup:hover {
  color: #4dc65f;
}

#login:hover {
  color: #c511ad;
}
