<div class="container">
  <h1>Speak, Friend, and enter.</h1>
  <p>So, you want all the treasure, do you?</p>
  <p>Well, you've come to the right place!</p>
  <p>PhatLoot is the place to be for all your treasure hunting needs.</p>
  <p>Add products to your wishlist that can help you on your next adventure.</p>

  <p>
    <a
    routerLink="/signup"
    class="nav-link active"
    name="signup"
    id="signup"
    (click)="signUp()"
    >Sign up </a>to get started!</p>

  <p>Already have an account? <a
    routerLink="/login"
    class="nav-link active"
    name="login"
    id="login"
    (click)="login()"
    >Log in </a>to access your wishlist.</p>

</div>
